body { margin: 0; }
canvas { display: block; }

.bottom-info-card {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

.info-card {
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    display: none;
}